<section class="orders-container">

  <div class="orders-content">

    <div class="form">
      <form [formGroup]="ordersForm">
        <div class="form-group">
          <label class="small-text" for="orderNumber">Order Number:</label>
          <input
            type="text"
            formControlName="orderNumber"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="small-text" for="customerName">Customer Name:</label>
          <input
            type="text"
            formControlName="customerName"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="small-text" for="customerFile">Customer File (Excel):</label>
          <input
            type="file"
            formControlName="customerFile"
            class="form-control"
          />
        </div>
      </form>

      <div class="btn login-btn">
        <button (click)="onFormSubmit()" [disabled]="!ordersForm.valid">Submit Order</button>
      </div>
    </div>
    
  </div>


<div>
    <button (click)="navigateToStockPage()">To Stocks</button>
</div>


<div class="table" *ngIf="orders.length > 0">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>order_name</th>
        <th>customer_name</th>
        <th>total_qty_order</th>
        <th>available</th>
        <th>date_time</th>
        <th>
           מחק
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.order_name }}</td>
        <td>{{ order.customer_name }}</td>
        <td>{{ order.total_qty_order }}</td>
        <td>{{ order.available }}</td>
        <td>{{ order.date_time }}</td>
        <td>
            <button (click)="deleteOrder(order.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</section>