<section class="stocks-container">
  <div class="stocks-content">
    <div class="form">
      <form [formGroup]="stocksForm">
        <div class="form-group">
          <label class="small-text" for="drop_name">Stock Name:</label>
          <input
            type="text"
            formControlName="drop_name"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="small-text" for="file">Stock File:</label>
          <input
            type="file"
            (change)="onFileSelect($event)"
            class="form-control"
          />
        </div>
      </form>

      <div class="btn login-btn">
        <button (click)="onFormSubmit()" [disabled]="!stocksForm.valid">Submit Stock</button>
      </div>
    </div>
  </div>
  <br>
  <div>
    <button (click)="navigateToOrdersPage()">To Orders</button>
  </div>

  <div class="table" *ngIf="stocks.length > 0">
    <table>
      <thead>
        <tr>
          <th>date_time</th>
          <th>drop_name</th>
          <th>drop_qty</th>
          <th>drop_warehouse_id</th>
          <th>Delete</th>
          <th>download</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.date_time }}</td>
          <td>{{ stock.drop_name }}</td>
          <td>{{ stock.drop_qty }}</td>
          <td>{{ stock.drop_warehouse_id }}</td>
          <td>
            <button (click)="deleteOrder(stock)">Delete</button>
          </td>
          <td>
            <button (click)="downloadOrder(stock)">download</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <p>total  :  {{total}}</p>
    </div>

  </div>

</section>
