.login-container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .login-content {
    text-align: center;
  }
  
  .image-container {
    margin-top: 50px; 
  }
  
  .form {
    margin-top: 50px; 
  }
  
  .login-btn {
    margin-top: 50px; 
  }
  