<section class="login-container">
  <div class="login-content">

    <div class="image-container">
      <img src="../../../assets/imgs/צילום מסך 2024-04-29 212622.png" alt="Your Image">
    </div>

    <div class="title">
      <p class="text">{{ greetingMessage }}</p>
    </div>

    <div class="form">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label class="small-text" for="email"></label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': loginForm.get('email')?.errors
            }"
          />
          <div *ngIf="loginForm.get('email')?.errors" class="invalid-feedback">
            <!-- <div
              class="required"
              *ngIf="loginForm.get('email')?.hasError('required')"
            >
              אימייל הוא שדה חובה
            </div> -->
            <!-- <div *ngIf="loginForm.get('email')?.hasError('email')">
              הכנס כתובת אימייל חוקית
            </div> -->
          </div>
        </div>
      </form>
    </div>


    <div class="btn login-btn">
      <button (click)="onFormSubmit()" [disabled]="!loginForm.valid">התחברות</button>
    </div>

  </div>
</section>